@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  transition: background-color 0s !important; 
}


:root {
  /* Light Mode Colors */
  --color-primary: #1a202c; /* Cor principal para Light Mode */
  --color-secondary: #2d3748; /* Cor secundária */
  --color-background: #ffffff; /* Fundo claro */
  --color-text: #000000; /* Texto escuro */
  
  --color-footer-bg: #ffffff; /* Fundo do footer */
  --color-footer-text: #000000; /* Texto do footer */
  --color-header-bg: #ffffff; /* Fundo do Header */
  --color-header-text: #000000; /* Texto do Header */
  --color-border: #cccccc; /* Borda padrão */
}

@media (prefers-color-scheme: dark) {
  
  :root{
  --color-primary: #f7fafc; /* Cor principal para Dark Mode */
  --color-secondary: #edf2f7; /* Cor secundária */
  --color-background: #222; /* Fundo escuro */
  --color-text: #ffffff; /* Texto claro */
  
  --color-footer-bg: #1a1a1a; /* Fundo do footer */
  --color-footer-text: #f2f2f2; /* Texto do footer */
  --color-header-bg: #222; /* Fundo do Header */
  --color-header-text: white; /* Texto do Header */
  --color-border: #444444; /* Borda no Dark Mode */
  }
}

:root.dark {
  /* Dark Mode Colors */
  --color-primary: #f7fafc; /* Cor principal para Dark Mode */
  --color-secondary: #edf2f7; /* Cor secundária */
  --color-background: #222; /* Fundo escuro */
  --color-text: #ffffff; /* Texto claro */
  
  --color-footer-bg: #1a1a1a; /* Fundo do footer */
  --color-footer-text: #f2f2f2; /* Texto do footer */
  --color-header-bg: #222; /* Fundo do Header */
  --color-header-text: white; /* Texto do Header */
  --color-border: #444444; /* Borda no Dark Mode */
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ajusta o Logo no Light e Dark Mode */
header img {
  filter: brightness(0) invert(0); /* Padrão para Light Mode */
  transition: filter 0.3s ease;
}

html.dark header img {
  filter: brightness(0) invert(1); /* Inverte o logo no Dark Mode */
}



header nav a {
  color: var(--color-header-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: var(--color-secondary); /* Efeito hover no Light e Dark Mode */
}

.burger-menu {
  border: none;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

footer {
  background-color: var(--color-footer-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Transição suave para os links */
nav ul li a {
  color: var(--color-header-text);
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--color-secondary);
}

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }

  li {
    list-style-type: none;
  }

  #menu:checked ~ ul {
    @apply flex;
  }

  #menu:not(:checked) ~ ul {
    @apply hidden;
  }

  .scollBar::-webkit-scrollbar {
    display: none;
  }
}

@keyframes infinite-carousel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-carousel {
  animation: infinite-carousel 20s linear infinite;
}

.animate-infinite-carousel:hover {
  animation-play-state: paused;
}

.carousel {
  scrollbar-width: none; /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}
